body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    max-width: 600px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
    color: #334499;
}